@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

:root {
  /* основная */
  --basic-extra-dark: #2D3440;
  --basic-dark: #565C66;
  --basic-neutral: #B9B9B9;
  --basic-light: #E7E7E7;
  --basic-extra-light: #FCFCFC;
  --basic-white: #FFFFFF;

  /* дополнительная */
  --special-extra-bright: #FF2F64;
  --special-bright: #FF4A78;
  --special-neutral: #FF7799;
  --special-light: #FEAFC3;
  --special-extra-light: #FFCBD8;
  --special-blue: #69A9FF;
  --special-yellow: #FCC850;

  /* статус */
  --status-error: #EA5454;
  --status-warning: #FD912E;
  --status-success: #00E484;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  min-width: 1366px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  align-items: center;
  background: var(--special-light); /* цвет 1-го слайда */
  /*background: var(--special-blue);*/ /* цвет 2-го слайда */
  /*background: var(--special-yellow);*/ /* цвет 3-го слайда */
  /* замечания и рекоммендации учту - пока оставил  */
  /* рабочий шрифт / параграф 2 */
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  color: var(--basic-dark);
}

/* сброс браузерных отступов */
h1, h2, h3, h4, h5, h6, p, ul, dl, li {
  margin: 0;
  padding: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

/* * заголовки */
.title {
  /* font-family: 'Inter', sans-serif; */
  font-style: normal;
  font-weight: 900;
  line-height: 46px;
  color: var(--basic-extra-dark);
}

/* * абзацы */
.paragraph {
  /* font-family: 'Inter', sans-serif; */
  font-style: normal;
  font-weight: 400;
  color: var(--basic-extra-dark);
}

.paragraph-tree-fat {
  font-weight: 700;
  line-height: 20px;
}

.signature {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.button {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  padding: 12px 32px;
  border-radius: 30px;
  color: var(--basic-extra-dark);
  background-color: var(--basic-extra-light);
  outline: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: ease-out 0.15s;
}

.button:hover {
  background-color: rgba(252, 252, 252, 0.4);
  outline: 4px solid var(--basic-extra-light);
  box-shadow: 0 4px 15px rgba(133, 133, 133, 0.15);
}

.button:focus {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid var(--basic-extra-dark);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.button:active {
  background-color: var(--basic-extra-light);
  outline: 2px solid var(--basic-extra-dark);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.button:disabled {
  font-weight: 400;
  color: var(--basic-neutral);
  background-color: var(--basic-light);
  outline: 4px solid rgba(252, 252, 252, 0.4);
}

/* ! доделать кнопку в стадии загрузки */

.button-add {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  padding: 12px 32px;
  border-radius: 30px;
  color: var(--basic-extra-light);
  background-color: var(--special-extra-bright);
  outline: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: ease-out 0.15s;
}

.button-add:hover {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 4px solid var(--special-extra-bright);
  color: var(--basic-extra-dark);
  /* box-shadow: 0px 4px 15px rgba(133, 133, 133, 0.15); */
}

.button-add:focus {
  background-color: var(--special-extra-bright);
  outline: 2px solid var(--basic-extra-dark);
  /* box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1); */
}

.button-add:active {
  background-color: var(--special-extra-bright);
  outline: 2px solid var(--basic-extra-dark);
  /* box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1); */
}

.button-add:disabled {
  font-weight: 400;
  color: var(--basic-dark);
  background-color: var(--basic-neutral);
  outline: 4px solid rgba(185, 185, 185, 0.3);
}

.button-add-loading {
  background-image: url('../images/icons/spinner.svg');
  background-repeat: no-repeat;
  background-position: center right 23px;
}

.button-sort {
  display: inline-block;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  padding: 8px 53px;
  border-radius: 20px;
  color: var(--basic-extra-dark);
  background-color: rgba(252, 252, 252, 0.3);
  outline: 2px solid var(--basic-extra-light);
  align-self: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.button-sort:hover  {
  background-color: var(--basic-extra-light);
  outline: 2px solid rgba(252, 252, 252, 0.3);
}

.button-sort:focus  {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 2px solid var(--basic-extra-dark);
}

.button-sort:active  {
  background-color: rgba(252, 252, 252, 0.5);
  outline: none;
}

.button-sort:disabled  {
  opacity: 0.4;
}

/* socials */
.social {
  border-radius: 50%;
  outline: 2px solid rgba(252, 252, 252, 0.3);
  transition: opacity ease-out 0.2;
}

.social:hover {
  background-color: var(--basic-extra-dark);
}

.social:focus {
  outline: 2px solid var(--basic-extra-dark);
  outline-offset: -1px;
  background-color: var(--basic-extra-dark);
}

.social:active {
  opacity: 0.5;
}


/* * page-header */
.page-header {
  width: 1170px;
  display: flex;
  margin: 0 auto 21px;
  padding: 24px 0;
  align-items: center;
}

.page-header-nav {
  display: flex;
}

.page-header-logo {
  margin-right: 16px;
  color: var(--basic-extra-dark);
}
.page-header-logo:hover {
  opacity: 0.5;
}

.page-header-logo:focus {
  outline: none;
}
.page-header-logo:focus .gllacy-logo {
  fill: var(--special-extra-bright);
}

.page-header-logo:active .gllacy-logo {
  fill: var(--basic-extra-light);
}

.page-header-list {
  width: 570px; /* с запасом на один пункт */
  display: flex;
  flex-wrap: wrap; /* переполнение */
  list-style-type: none;
  margin-top: 10px;
}

.page-header-item:not(:last-of-type) {
  margin-right: 1px;
}

.page-header-link {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 30px;
  color: var(--basic-extra-dark);
  text-decoration: none;
  transition: 0.3s ease-out;
}

.page-header-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.page-header-link:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px var(--basic-extra-dark);
  background-color: rgba(252, 252, 252, 0.5);
}

.page-header-link:active {
  background-color: var(--basic-extra-light);
}

.page-current {
  color: var(--basic-extra-light);
  background: var(--special-bright);
}

.page-header-item:first-of-type {
  position: relative;
}

.page-current + .catalog-dropdown {
  display: block;
}

.catalog-dropdown {
  display: none;
  position: absolute;
  top: 44px;
  left: 2px;
  padding: 15.5px 13px 14px 16px;
  border-radius: 4px;
  background-color: var(--basic-extra-light);
  box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
  list-style-type: none;
}

.catalog-dropdown-item:not(:first-of-type):not(:last-of-type) {
  margin-bottom: 10px;
}

.catalog-dropdown-item-link {
  text-decoration: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-extra-dark);
}

.catalog-dropdown-item-link:hover {
  opacity: 0.5;
}

.catalog-dropdown-item-link:focus {
  outline: none;
  color: var(--special-bright);
}

.catalog-dropdown-item-link:active {
  color: var(--special-yellow);
}

.catalog-dropdown-item-link-fat {
  display: block;
  font-weight: 700;
  border-bottom: 1px solid var(--basic-neutral);
  padding-bottom: 12px;
  margin-bottom: 8px;
}

.page-header-user-link {
  border: none;
  padding: 8px 20px;
  color: var(--basic-extra-dark);
  background-color: rgba(252, 252, 252, 0.3);
  text-decoration: none;
  border-radius: 30px;
  transition: 0.1s ease-out;
  margin-top: -3.5px;
}

.page-header-user-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.page-header-user-link:focus {
  background-color: var(--basic-extra-light);
  outline: none;
}

.page-header-user-link:active {
  outline: 2px solid #2D3440;
  background-color: rgba(252, 252, 252, 1);
}

.page-header-user-link:nth-of-type(3) {
  margin-left: 16px;
}

.page-header-address {
  margin-left: auto;
  margin-right: 16px;
}

.page-header-phone {
  display: inline-block;
  border-radius: 3px;
  font-style: normal;
  text-decoration: none;
  color: var(--basic-extra-dark);
  margin-bottom: 5px;
}

.page-header-phone:hover {
  color: var(--basic-dark);
}

.page-header-phone:focus {
  outline: none;
  color: var(--basic-extra-light);
  background-color: var(--basic-extra-dark);
}

.page-header-phone:active {
  color: var(--basic-neutral);
  background-color: transparent;
}

.user-search {
  padding: 0;
  width: 32px;
  height: 32px;
  margin-right: 16px;
  background-image: url('../images/icons/search.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}
.user-login {
  padding-left: 38px;
  background-image: url('../images/icons/login.svg');
  background-repeat: no-repeat;
  background-position: center left 17px;
}

.user-bin {
  padding-left: 38px;
  background-image: url('../images/icons/bin.svg');
  background-repeat: no-repeat;
  background-position: center left 17px;
}

/* * main */
.main-container {
  flex-grow: 1;
}

.main-index {
  /* width: 1170px; */
  margin: 0 auto;
}

/* * slider */
.slider {
  width: 1170px;
  margin: 0 auto 80px;
}

.slider-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
}

.slider-text-pic-container {
  width: 1170px;
  display: flex;
  justify-content: end;
}

.slider-item-text-container {
  width: 470px;
  margin-top: calc(136px - 26px) ;
  margin-right: 21px;

}

.slider-item-title {
  font-size: 36px;
  margin-bottom: 24px;
}

.slider-item-description {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 48px;
}

.slider-pic-container {
  width: 609px;
  display: flex;
}

.slider-pic-wrapper {
  position: relative;
  margin-top: -5px;
}

.slider-pic-wrapper::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 100px;
  left: 0;
  display: block;
  width: 312px;
  height: 312px;
  border-radius: 50%;
  background-color: var(--special-extra-light);
}

.slider-button {
  position: absolute;
  display: block;
  width: 38px;
  height: 38px;
  border-radius: 26px;
  outline: 2px solid var(--basic-extra-light);
  outline-offset: -2px;
  border: none;
  cursor: pointer;
  background-color: rgba(252, 252, 252, 0.3);
  color: var(--basic-white);
  top: 237px;
}

.slider-arrow-svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.slider-previous {
  top: 237px;
  left: -19px;
  transform: rotate(180deg);
}

.slider-button:hover {
  background-color: var(--basic-extra-light);
}
.slider-button:hover .slider-arrow-svg {
  fill: var(--basic-extra-dark);
}

.slider-button:focus {
  outline-color: var(--basic-extra-dark);
  background-color: var(--special-extra-light);
}
.slider-button:focus .slider-arrow-svg {
  fill: var(--basic-extra-dark);
}

.slider-button:active {
  outline-color: var(--basic-extra-dark);
  background-color: var(--basic-extra-dark);
}
.slider-button:active .slider-arrow-svg {
  fill: var(--special-extra-light);
}

.slider-next {
  top: 237px;
  left: 293px;
  cursor: pointer;
}

.slider-preview-button-wrapper {
  position: relative;
  top: 35%;
  height: 150px;
}

.slider-preview-button {
  display: block;
  width: 100px;
  height: 150px;
  border: none;
  padding: 0;
  cursor: pointer;
  opacity: 40%;
  transition: 0.15s ease-out;
}

.slider-preview-button:hover {
  opacity: 50%;
  transform: scale(1.05);
}

.slider-preview-button:active {
  opacity: 70%;
  transform: scale(1.05);
}

.preview-one {
  margin-left: 62px;
  background: url('../images/banana.png') center / 88px 150px no-repeat;
}

.preview-two {
  margin-left: 41px;
  background: url('../images/marshmellow.png') center / 88px 150px no-repeat;
}

.slider-preview-button-wrapper::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 25px;
  right: 0;
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--special-extra-light);
  opacity: 40%;
}

.pagination-socials-container {
  width: 1170px;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  margin:  0;
  padding: 0;
}

.slider-pagination {
  display: flex;
  /* background-color: yellow; */
}

.slider-pagination-button {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: rgba(252, 252, 252, 0.3);
  border: none;
  padding: 0;
  cursor: pointer;
  margin-top: 9.5px;
}

.slider-pagination-button:not(:last-of-type) {
  margin-right: 8px;
}

.slider-pagination-button:hover {
  outline: 1px solid var(--basic-extra-light);
}

.slider-pagination-button:focus {
  outline: 1px solid var(--basic-extra-dark);
}

.slider-pagination-button:active {
  outline: none;
  background-color: rgba(252, 252, 252, 0.5);
}

.slider-pagination-button-current {
  background-color: var(--basic-extra-light);
}

.slider-socials {
  display: flex;
  list-style-type: none;
  /* margin-top: -6px; */
}

.slider-socials-item:not(:last-of-type) {
  margin-right: 16px;
}

.slider-socials-link {
  display: block;
  width: 24px;
  height: 24px;
  margin-top: -3px;
  color: var(--basic-extra-light);
}

/* * gifts */
.gifts {
  margin-bottom: 81.75px;
}

.gifts-title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 54.5px;
}

.gifts-list {
  width: 1170px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style-type: none;
  margin: 0 auto;
}

.gifts-item {
  width: calc(570px - 36px);
  padding: 36px 0 36px 36px;
  border-radius: 16px;
  background-color: var(--special-neutral);
}

.gifts-item:nth-of-type(1) {
  background:
    url('../images/gift-raspberry.png') bottom right / 219px 268px no-repeat,
    var(--special-neutral);
}

.gifts-item:nth-of-type(2) {
  background:
    url('../images/gift-marshmellow.png') bottom right / 219px 268px no-repeat,
    var(--special-neutral);
}

.gifts-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 28px;

}

.gifts-item-text {
  font-size: 16px;
  line-height: 22px;
  width: 320px;
  margin-bottom: 28px;
}

.gifts-item-link {
  display: inline-block;
}

/* * popular */

.popular {
  margin: 0 auto 80px;
}

.popular-title {
  font-size: 32px;
  margin-bottom: 55.5px;
  text-align: center;
}

.popular-list {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 81px 30px;
  padding-top: 51px;
  list-style-type: none;
}

.popular-item {
  width: calc(270px - (40px + 40px));
  padding: 0 40px 24px;
  border-radius: 8px;
  text-align: center;
  background-color: var(--basic-extra-light);
  flex-grow: 1 0;
}

.popular-item-pic {
  display: block;
  margin-top: -51px;
  margin-left: -1px;
}

.popular-item-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: -1px 0 9px;
}

.popular-item-text {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 15.5px;
}

.popular-item-price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-item-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--basic-extra-dark);
}

.popular-item-button {
  position: relative;
  display: inline-block;
  padding: 16px;
  border-radius: 26px;
  background-color: var(--special-extra-bright);
  border: none;
  cursor: pointer;
  outline-offset: -2px;
  transition: ease-out 0.125s;
}

.bin {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: var(--basic-extra-light);
}

.popular-item-button:focus {
  outline: 2px solid var(--basic-extra-dark);
}

.popular-item-button:hover {
  outline: 2px solid var(--special-extra-bright);
  background-color: var(--basic-extra-light);
}
.popular-item-button:hover .bin {
  fill: var(--basic-extra-dark);
}

.popular-item-button:active {
  outline: 2px solid var(--special-extra-bright);
  background-color: var(--special-extra-light);
}

.popular-item-button:disabled {
  background-color: var(--basic-neutral);
}
.popular-item-button:disabled .bin {
  fill: var(--basic-extra-dark);
}

/* * store */

.store {
  width: calc(1170px - (24px + 24px));
  margin: 0 auto 80px;
  background: url('../images/waffle-pat.jpg') repeat;
  border-radius: 16px;
  padding: 24px;
  color: black;
}

.store-container {
  border-radius: 16px;
  background-color: var(--basic-white);
  padding: 56px 40px;
}

.store-title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 56px;
}

.store-benefits {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 32px;
  list-style-type: none;
}

.store-benefits-item {
  position: relative;
  width: 505px;
}

.store-benefits-item-text {
  margin-left: 64px;
}

.store-benefits-item-text::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  outline: 3px solid var(--basic-extra-dark);
  outline-offset: -2px;
  background-position: top 8px left 8px;
  background-size: 32px;
  background-repeat: no-repeat;
}

.store-benefits-item:nth-of-type(1) .store-benefits-item-text::before {
  background-image: url('../images/icons/benefits-eskimo.svg');
}

.store-benefits-item:nth-of-type(2) .store-benefits-item-text::before {
  background-image: url('../images/icons/benefits-moo.svg');
}

.store-benefits-item:nth-of-type(3) .store-benefits-item-text::before {
  background-image: url('../images/icons/benefits-leaf.svg');
}

.store-benefits-item:nth-of-type(4) .store-benefits-item-text::before {
  background-image: url('../images/icons/benefits-thermo.svg');
}

/* * blog */
.blog-and-subscribe {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 1170px;
  margin: 0 auto 80px;
}

.blog {
  width: calc(570px - 32px);
  min-height: calc(224px - (32px + 32px));
  border-radius: 16px; /* ? скругление меняется с переполнением, почему? */
  padding: 32px 0 32px 32px;
  background: url('../images/blog-bg-big.png') center left / 640px no-repeat;
}

.blog-new {
  width: 330px;
  margin-bottom: 12px;
  color: var(--basic-dark);
}

.blog-title {
  width: 330px;
  color: var(--basic-extra-dark);
  line-height: 30px;
}

.blog-link { /* todo доделать состояния */
  opacity: 1;
  text-decoration: none;
}

.blog-link:hover {
  opacity: 0.5;
  transition: ease-out 0.2;
}


/* * subscribe */
.subscribe {
  width: 570px;
  border-radius: 16px;
  background:
    repeating-linear-gradient(-49.5deg,
      var(--basic-white), var(--basic-white) 10px,
      var(--special-blue) 11px, var(--special-blue) 19px,
      var(--basic-white) 18px, var(--basic-white) 33px,
      var(--special-extra-bright) 33px, var(--special-extra-bright) 41px,
      var(--basic-white) 41px, var(--basic-white) 44.75px);
}

.subscribe-container {
  width: calc(558px - (26px * 2));

  border-radius: 16px;
  background-color: var(--basic-extra-light);
  margin: 6px;
  padding: 26px;

}

.subscribe-text {
  margin-bottom: 43px;
}

.subscribe-form-input {
  width: calc(332px - 16px);
  height: 48px;
  outline: 1px solid var(--basic-neutral);
  border: none;
  border-radius: 4px;
  padding: 0 0 0 16px;
}

.subscribe-form-input:hover {
  outline-color: var(--basic-extra-dark);
}

.subscribe-form-input:focus {
  outline: 2px solid var(--basic-extra-dark);
}

.subscribe-form-input:invalid {
  outline: 1px solid var(--status-error);
}

.subscribe-form-input:invalid:hover {
  outline: 2px solid var(--status-error);
  }

.subscribe-form-input:disabled:hover > .subscribe-form-input::placeholder {
  /* background-color: var(--basic-extra-dark); */
  color: black;
}

.subscribe-form-input:disabled {
  outline: 1px solid var(--basic-neutral);
  background-color: var(--basic-light);
}



/* .subscribe-form-input:disabled:hover {
  outline: 1px solid var(--basic-extra-dark);
  background-color: var(--basic-light);
} */

.subscribe-form-input::placeholder {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-neutral);
}

.subscribe-form-button {
  margin-left: 12px;
}

.subscribe-form-button-loading {
  background-image: url('../images/icons/spinner.svg');
  background-repeat: no-repeat;
  background-position: center right 23px;
  margin-left: 8px;
  padding-left: 24px;
  padding-right: 48px;
}

/* * delivery */
.delivery {
  width: 1170px;
  min-height: 534px;
  margin: 0 auto 80px;
  border-radius: 16px;
  background: url('../images/delivery-bg.jpg') 0 0 repeat-y;
}

.delivery-text-and-form {
  display: flex;
  justify-content: space-between;
  padding: 64px 64px 64px 100px;
}

.delivery-text-container {
  padding: 103px 0 0;
  width: 371px;
}

.delivery-title {
  font-size: 32px;
  line-height: 46px;
  margin-bottom: 24px;
}

.delivery-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-dark);
}
.delivery-form-container {
  width: calc(500px - (40px * 2));
  height: calc(406px - (40px * 2));
  background-color: var(--basic-extra-light);
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  padding: 40px;
}

.delivery-form-text {
  margin-bottom: 31px;
}

.delivery-form-fieldset {
  padding: 0;
  margin: 0;
}

.delivery-form {
  display: flex;
  flex-wrap: wrap;
}

.delivery-date {
  position: relative;
  margin-right: 16px;
}

.delivery-date::before {
  position: absolute;
  content: '';
  top: 2.25px;
  left: 43px;
  width: 16px;
  height: 16px;
  background: url('../images/icons/info.svg') center / 16px 16px no-repeat;
}

.delivery-address {
  position: relative;
  margin-bottom: 32px;
}

.delivery-address::before {
  position: absolute;
  content: '';
  top: 2.25px;
  left: 55px;
  width: 16px;
  height: 16px;
  background: url('../images/icons/info.svg') center / 16px 16px no-repeat;
}

.delivery-form-label {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-extra-dark);
  display: inline-block;
  margin-bottom: 7px;
}

.delivery-form-input {
  display: block;
  height: 48px;
  margin: 0;
  padding: 0;
  padding-left: 16px;
  box-sizing: border-box;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
}

.delivery-form-input::placeholder {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-neutral);
}



.date {
  width: 117px;
}

.tel {
  width: 287px;
  margin-bottom: 20px;
}

.address {
  width: 420px;
}

.delivery-form-button {
  margin: 0 auto;
}

/* * contacts */
.contacts {
  width: calc(1170px - 64px);
  min-height: calc(492px - (64px * 2));
  border-radius: 16px;
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 64px;
  background: url('../images/contacts-bg.jpg') 0 0 repeat-y;
}

.contacts-container {
  width: calc(343px - (40px * 2));
  min-height: calc(364px - (40px * 2));
  border-radius: 8px;
  padding: 40px;
  background-color: var(--basic-extra-light);
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
}

.contacts-address {
  margin-bottom: 5px;
}

.contacts-data-title {
  font-style: normal;
  margin-bottom: 12px;
}

.contacts-data-text {
  margin-left: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--basic-extra-dark);
  margin-bottom: 24px;
}

.contacts-data-span {
  display: block;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-dark);
}

.contacts-button {
  margin-top: 8.5px;
}

.hr-line {
  width: 1170px;
  border: 1px solid rgba(252, 252, 252, 0.3);
  margin: 0;
}

/* * footer */
.page-footer {
  width: 1170px;
  margin: 0 auto;

}
.page-footer-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 47px;
  margin-bottom: 44px;
}

.page-footer-socials {
  display: flex;
  list-style-type: none;
  width: 193px;
  margin-top: 1px;
  margin-left: 4px;
}

.page-footer-socials-item:not(:last-of-type) {
  margin-right: 16px;
}

.page-footer-socials-link {
  display: block;
  width: 24px;
  height: 24px;
  color: var(--basic-extra-light);
}

.page-footer-info {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-left: 34px;
  margin-top: -3px;
}

.page-footer-info-row {
  display: block;
  height: 25px;
  margin-bottom: 3px;
}

.page-footer-info-cell {
  width: 148px;
  padding: 0;
}

.page-footer-info-link {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-extra-dark);
  text-decoration: none;
}

.page-footer-info-link:hover {
  color: rgba(45, 52, 64, 0.5);
}

.page-footer-info-link:focus {
  outline: none;
  border-bottom: 1.5px solid var(--basic-extra-dark);
}

.page-footer-info-link:focus:hover {
  opacity: 0.5;
  color: rgba(45, 52, 64, 0.5);
  border-color: rgba(45, 52, 64, 0.5);
}

.page-footer-info-link:active {
  color: var(--basic-extra-light);
  background: none;
  text-decoration-color: var(--basic-extra-light);
}

.page-footer-info-link-current {
  position: relative;
  font-weight: 700;
}

.page-footer-info-link-current::before {
  position: absolute;
  content: '';
  width: 16px;
  height: 16px;
  top: 1px;
  left: -24px;
  background: url('../images/icons/heart-fill.svg') center no-repeat;
}

.page-footer-info-link-current:hover::before {
  opacity: 0.5;
}

.page-footer-info-cell:last-of-type {
  width: 182px;
}

.page-footer-academy {
  margin-right: 13.5px;
}

.page-footer-academy-logo {
  display: inline-block;
  margin-top: 1px;
  margin-bottom: 9px;
  color: var(--basic-extra-dark);
}

.page-footer-academy-logo:hover {
  opacity: 0.5;
}

.page-footer-academy-logo:focus {
  outline: none;
  background-color: var(--basic-extra-dark);
  border-radius: 3px;
}
.page-footer-academy-logo:focus .academy-logo {
  fill: var(--special-light);
}

.page-footer-academy-logo:active .academy-logo {
  fill: var(--basic-white);
}

.page-footer-academy-text-link {
  font-family: 'Inter',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--basic-extra-dark);
  text-decoration-color: rgba(45, 52, 64, 0.5);
}

.page-footer-academy-text-link:hover {
  color: rgba(45, 52, 64, 0.5);
}

.page-footer-academy-text-link:focus {
  color: var(--special-light);
  background-color: var(--basic-extra-dark);
  outline: none;
  border-radius: 1px;
}

.page-footer-academy-text-link:active {
  color: var(--basic-extra-light  );
  background: none;
  text-decoration-color: var(--basic-extra-light);
}

.page-footer-academy-text {
  font-family: 'Inter',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--basic-extra-dark);
}

/* ? product */

.inner-header {
  width: 1170px;
}

.inner-header-crumbs {
  display: flex;
  list-style-type: none;
  margin: 4px 0 16.5px;
}

.inner-header-crumbs-item:not(:last-of-type) {
  position: relative;
  margin-right: 28px;
}

.inner-header-crumbs-item:not(:last-of-type)::before {
  position: absolute;
  content: '';
  top: 5px;
  right: -20px;
  width: 12px;
  height: 12px;
  background: url('../images/icons/chevrons-right.svg') center no-repeat;
}

.inner-header-crumbs-link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-extra-dark);
  text-decoration: none;
}

.inner-header-crumbs-link-current {
  border-bottom: 1px solid var(--basic-extra-dark)
}

/* * product */

.product {
  width: 1170px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-extra-dark);
}

.product-title {
  font-size: 32px;
  line-height: 46px;
  margin-bottom: 40px;
}

.product-form-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 0;
  margin-bottom: 45px;
}

.product-form-sort {
  margin-right: 24px;
}

.product-form-price-title {
  margin-bottom: 25px;
}

.product-form-legend {
  padding: 0;
  margin-left: 16px;
  margin-bottom: 8px;
}

.product-form-select {
  border: none;
  padding: 8px 58px 8px 13px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  border-radius: 20px;
  background: url('../images/icons/arrow-down.svg') center right 12px no-repeat rgba(252, 252, 252, 0.3);
  appearance: none;
}

.product-form-select:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.product-form-select:focus {
  outline: 2px solid var(--basic-extra-light);
  outline-offset: -2px;
  background-color: rgba(252, 252, 252, 0.4);
}

.range {
  padding: 17px 16px;
  border-radius: 20px;
  background-color: rgba(252, 252, 252, 0.3);
  text-align: center;
  align-items: center;
  margin-right: 24px;
}

.range-scale {
  width: 164px;
  position: relative;
  height: 2px;
  border-radius: 20px;
  background-color: rgba(86, 92, 102, 0.3);

}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: rgba(86, 92, 102, 1);
}

.range-toggle {
  position: absolute;
  border-radius: 50%;
  padding: 8px;
  background-color: var(--basic-extra-light);
  outline: 6px solid var(--basic-extra-dark);
  outline-offset: -6px;
  border: none;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: var(--basic-extra-dark);
  outline: 6px solid var(--basic-extra-light);
}

.range-toggle:focus {
  background-color: var(--basic-extra-dark);
  outline: 6px solid var(--basic-extra-light);
  box-shadow: 0 0 0 2px var(--basic-extra-dark);
}

.range-toggle:active {
  background-color: var(--basic-extra-dark);
  outline: none;
}

.toggle-min {
  top: -7px;
  left: -8px;
}

.toggle-max {
  top: -7px;
  right: -8px;
}

.range-input {
  padding: 0;
  font: inherit;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* fat */
.fat-list {
  list-style-type: none;
  display: flex;
  padding: 7.5px 25.5px;
  margin-right: 18px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 18px;
}

.fat-item:not(:last-of-type) {
  margin-right: 17.5px;
}

.fat-control {
  position: relative;
  display: block;
  padding-left: 23px;
  cursor: pointer;
}

.fat-control-mark {
  position: absolute;
  top: 3.5px;
  left: 0;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  box-shadow: 0 0 0 2px var(--basic-extra-dark);
}

.fat-control:hover .fat-control-mark {
  box-shadow: 0 0 0 2px var(--basic-extra-light);
}
.fat-control:hover .fat-control-mark::before {
  border: 3.25px solid var(--basic-extra-light);
  box-sizing: border-box;
}

.control-input[type="radio"]:checked + .fat-control-mark::before {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--basic-extra-dark);
}

.control-input[type="radio"]:disabled + .fat-control-mark {
  opacity: 0.5;
}

/* fills */
.product-form-fills {
  display: block;
}

.product-fills-list {
  list-style-type: none;
  display: flex;
  padding: 9.5px 24px;
  margin-right: 18px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 18px;
}

.product-fills-item:not(:last-of-type) {
  margin-right: 15.75px;
}

.control {
  position: relative;
  display: block;
  padding-left: 25px;
  cursor: pointer;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
}

.product-fills-item:hover .checkbox-icon {
  fill: var(--basic-extra-light);
}

.control-input:focus + .control-mark .checkbox-icon {
  fill: var(--special-extra-bright);
}
.control-input:focus ~ .control-label {
  color: var(--special-extra-bright);
}

.control-input:active + .control-mark .checkbox-icon {
  opacity: 0.5;
}

.control-input:checked + .control-mark .checkbox-checked {
  display: block;
}
.control-input:checked + .control-mark .checkbox-empty {
  display: none;
}

.control-input:disabled + .control-mark .checkbox-icon {
  opacity: 0.5;
}

.product-button {
  align-self: end;
  margin-bottom: 1px;
}

/* *product-list */

.product-list {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 91px 30px;
  padding-top: 51px;
  list-style-type: none;
  margin-bottom: 57px;
}

.product-item {
  width: calc(270px - (40px + 40px));
  padding: 0 40px 24px;
  border-radius: 8px;
  text-align: center;
  background-color: var(--basic-extra-light);
  flex-grow: 1 0;
}

.product-item-pic {
  display: block;
  margin-top: -51px;
  margin-left: -1px;
}

.product-item-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 8px;
}

.product-item-text {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 16px;
}

.product-item-price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-item-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--basic-extra-dark);
}

.product-item-button {
  position: relative;
  display: inline-block;
  padding: 16px;
  border-radius: 26px;
  background-color: var(--special-extra-bright);
  border: none;
  cursor: pointer;
  outline-offset: -2px;
  transition: ease-out 0.125s;
}

.bin-product {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: var(--basic-extra-light);
}

.product-item-button:focus {
  outline: 2px solid var(--basic-extra-dark);
}

.product-item-button:hover {
  outline: 2px solid var(--special-extra-bright);
  background-color: var(--basic-extra-light);
}
.product-item-button:hover .bin-product {
  fill: var(--basic-extra-dark);
}

.product-item-button:active {
  outline: 2px solid var(--special-extra-bright);
  background-color: var(--special-extra-light);
}

.product-item-button:disabled {
  background-color: var(--basic-neutral);
}
.product-item-button:disabled .bin-product {
  fill: var(--basic-extra-dark);
}

/* *product-pagination */

.product-pagination {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.product-pagination-inner-container {
  display: flex;
  align-items: center;
}

.empty-box {
  width: 153px;
  height: 36px;
}

.product-pagination-inner-button {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  background: url('../images/icons/arrow-left.svg') center no-repeat;
  border: none;
  cursor: pointer;
}

.next {
  transform: rotate(180deg);
}

.product-pagination-inner-button:focus {
  outline: none;
  background-color: var(--basic-extra-light);
}

.product-pagination-inner-button:active {
  opacity: 0.5;
  background-color: transparent;
}

.product-pagination-inner-button:disabled {
  opacity: 0.3;
}

.product-pagination-list {
  display: flex;
  list-style-type: none;
  padding: 0 8px;
}

.product-pagination-item:not(:last-of-type) {
  /* margin-right: 14.5px; */
}

.product-pagination-item-link {
  display: inline-block;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--basic-extra-dark);
  text-decoration: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transition: in-out 0.2;
}

.product-pagination-item-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.product-pagination-item-link:focus {
  background-color: rgba(252, 252, 252, 0.3);
  outline: none;
  box-shadow: inset 0 0 0 1px var(--basic-extra-dark);
}

.product-pagination-item-link:active {
  background-color: rgba(252, 252, 252, 0.5);
  box-shadow: inset 0 0 0 1px var(--basic-extra-light);
}

.product-pagination-item-link-current {
  background-color: var(--basic-extra-light);
}
