@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

:root {
  /* основная */
  --basic-extra-dark: #2D3440;
  --basic-dark: #565C66;
  --basic-neutral: #B9B9B9;
  --basic-light: #E7E7E7;
  --basic-extra-light: #FCFCFC;
  --basic-white: #ffffff;

  /* дополнительная */
  --special-extra-bright: #FF2F64;
  --special-bright: #FF4A78;
  --special-neutral: #FF7799;
  --special-light: #FEAFC3;
  --special-extra-light: #FFCBD8;
  --special-blue: #69A9FF;
  --special-yellow: #FCC850;

  /* статус */
  --status-error: #EA5454;
  --status-warning: #FD912E;
  --status-success: #00E484;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  min-width: 1366px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: var(--special-light); /* цвет 1-го слайда */
  /*background: var(--special-blue);*/ /* цвет 2-го слайда */
  /*background: var(--special-yellow);*/ /* цвет 3-го слайда */
  /* замечания и рекоммендации учту - пока оставил  */
  /* рабочий шрифт / параграф 2 */
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  color: var(--basic-dark);
}

/* сброс браузерных отступов */
h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

/* * заголовки */
.title {
  /* font-family: 'Inter', sans-serif; */
  font-style: normal;
  font-weight: 900;
  line-height: 46px;
  color: var(--basic-extra-dark);
}

/* * абзацы */
.paragraph {
  /* font-family: 'Inter', sans-serif; */
  font-style: normal;
  font-weight: 400;
  color: var(--basic-extra-dark);
}

.paragraph-tree-fat {
  font-weight: 700;
  line-height: 20px;
}

.signature {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.button {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  padding: 12px 32px;
  border-radius: 30px;
  color: var(--basic-extra-dark);
  background: var(--basic-extra-light);
  outline: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.button:hover {
  background: rgba(252, 252, 252, 0.4);
  outline: 4px solid var(--basic-extra-light);
  box-shadow: 0px 4px 15px rgba(133, 133, 133, 0.15);
}

.button:focus {
  background: rgba(252, 252, 252, 0.5);
  outline: 2px solid var(--basic-extra-dark);
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
}

.button:active {
  background: var(--basic-extra-light);
  outline: 2px solid var(--basic-extra-dark);
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
}

.button:disabled {
  background: var(--basic-light);
  outline: 4px solid rgba(252, 252, 252, 0.4);
}

/* ! доделать кнопку в стадии загрузки */

/* page-header */
.page-header {
  width: 1170px;
  display: flex;
  margin: 0 auto 21px;
  padding: 24px 0;
  align-items: center;
}

.page-header-nav {
  display: flex;
}

.page-header-logo {
  margin-right: 16px;
}

.page-header-list {
  width: 570px; /* с запасом на один пункт */
  display: flex;
  flex-wrap: wrap; /* переполнение */
  list-style-type: none;
  margin-top: 10px;
  /* padding: 0; */
}

.page-header-item:not(:last-of-type) {
  margin-right: 1px;
}

.page-header-catalog {
  display: inline-block;
  border: none;
  background: none;
  font-family: 'Inter',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-extra-dark);
  margin: 0;
  padding: 0;
}

.page-header-link {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 30px;
  color: var(--basic-extra-dark);
  text-decoration: none;
  transition: 0.3s ease-out;
}

.page-header-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.page-header-link:focus {
  outline: 2px solid #2D3440;
  background-color: rgba(252, 252, 252, 0.5);
}

.page-header-link:active {
  background-color: var(--basic-extra-light);
}

.page-current {
  color: var(--basic-extra-light);
  background: var(--special-bright);
}

.page-header-user-link {
  border: none;
  padding: 8px 20px;
  color: var(--basic-extra-dark);
  background-color: rgba(252, 252, 252, 0.3);
  text-decoration: none;
  border-radius: 30px;
  transition: 0.1s ease-out;
  margin-top: -3.5px;
}

.page-header-user-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.page-header-user-link:focus {
  background-color: var(--basic-extra-light);
  outline: none;
}

.page-header-user-link:active {
  outline: 2px solid #2D3440;
  background-color: rgba(252, 252, 252, 1);
}

.page-header-user-link:nth-of-type(3) {
  margin-left: 16px;
}

.page-header-address {
  margin-left: auto;
  margin-right: 16px;
}

.page-header-phone {
  display: inline-block;
  font-style: normal;
  text-decoration: none;
  color: var(--basic-extra-dark);
  margin-bottom: 5px;
}

.page-header-phone:hover {
  color: var(--basic-dark);
}

.page-header-phone:active {
  color: var(--basic-neutral);
}

.user-search {
  padding: 0;
  width: 32px;
  height: 32px;
  margin-right: 16px;
  background-image: url('../images/icons/search.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}
.user-login {
  padding-left: 38px;
  background-image: url('../images/icons/login.svg');
  background-repeat: no-repeat;
  background-position: center left 17px;
}

.user-bin {
  padding-left: 38px;
  background-image: url('../images/icons/bin.svg');
  background-repeat: no-repeat;
  background-position: center left 17px;
}

/* * main */
.main-container {
  flex-grow: 1;
}

.main-index {
  /* width: 1170px; */
  margin: 0 auto;
}

/* * slider */
.slider {
  width: 1170px;
  margin: 0 auto 80px;
}

.slider-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
}

.slider-text-pic-container {
  width: 1170px;
  display: flex;
  justify-content: end;
}

.slider-item-text-container {
  width: 470px;
  margin-top: calc(136px - 26px) ;
  margin-right: 21px;

}

.slider-item-title {
  font-size: 36px;
  margin-bottom: 24px;
}

.slider-item-description {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 48px;
}

.slider-order-button {
}

.slider-pic-container {
  width: 609px;
  position: relative;
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
}

.slider-button {
  position: absolute;
  display: block;
  width: 38px;
  height: 38px;
  border: none;
  cursor: pointer;
  background: url('../images/icons/slider-arrow.svg');
  top: 232px;
}

.previous {
  left: -19px;
  transform: rotate(180deg);
}

.next {
  left: 293px;
}

.slider-pic-wrapper {
  margin-top: -5px;
}

.slider-pic-wrapper::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 95px;
  left: 0;
  display: block;
  width: 312px;
  height: 312px;
  border-radius: 50%;
  background-color: var(--special-extra-light);
}

.slider-preview-button-wrapper {
  position: relative;
  top: 35%;
}

.slider-preview-button {
  display: block;
  width: 100px;
  height: 150px;
  border: none;
  padding: 0;
  cursor: pointer;
  opacity: 40%;
  transition: 0.15s ease-out;
}

.slider-preview-button:hover {
  opacity: 50%;
  transform: scale(1.05);
}

.slider-preview-button:active {
  opacity: 70%;
  transform: scale(1.05);
}

.preview-one {
  margin-left: 62px;
  background: url('../images/banana.png') center / 88px 150px no-repeat;
}

.preview-two {
  margin-left: 41px;
  background: url('../images/marshmellow.png') center / 88px 150px no-repeat;
}

.slider-preview-button-wrapper::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 25px;
  right: 0;
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--special-extra-light);
  opacity: 40%;
}

.pagination-socials-container {
  width: 1170px;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  margin:  0;
  padding: 0;
}

.slider-pagination {
  display: flex;
  /* background-color: yellow; */
}

.slider-pagination-button {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: rgba(252, 252, 252, 0.3);
  border: none;
  padding: 0;
  cursor: pointer;
  margin-top: 9.5px;
}

.slider-pagination-button:not(:last-of-type) {
  margin-right: 8px;
}

.slider-pagination-button:hover {
  outline: 1px solid var(--basic-extra-light);
}

.slider-pagination-button:focus {
  outline: 1px solid var(--basic-extra-dark);
}

.slider-pagination-button:active {
  outline: none;
  background-color: rgba(252, 252, 252, 0.5);
}

.slider-pagination-button-current {
  background-color: var(--basic-extra-light);
}

.slider-socials {
  display: flex;
  list-style-type: none;
  /* margin-top: -6px; */
}

.slider-socials-item:not(:last-of-type) {
  margin-right: 16px;
}

.slider-socials-link {
  display: block;
  width: 24px;
  height: 24px;
  margin-top: -3px;
}

/* * gifts */

.gifts {
  margin-bottom: 81.75px;
}

.gifts-title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 54.5px;
}

.gifts-list {
  width: 1170px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style-type: none;
}

.gifts-item {
  width: calc(570px - 36px);
  padding: 36px 0 36px 36px;
  border-radius: 16px;
  background-color: var(--special-neutral);
}

.gifts-item:nth-of-type(1) {
  background:
    url('../images/gift-raspberry.png') bottom right / 219px 268px no-repeat,
    var(--special-neutral);
}

.gifts-item:nth-of-type(2) {
  background:
    url('../images/gift-marshmellow.png') bottom right / 219px 268px no-repeat,
    var(--special-neutral);
}

.gifts-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 28px;

}

.gifts-item-text {
  font-size: 16px;
  line-height: 22px;
  width: 320px;
  margin-bottom: 28px;
}

.gifts-item-link {
  display: inline-block;
}

/* * popular */

.popular {
  margin-bottom: 80px;
}

.popular-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 55.5px;
}

.popular-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 1170px;
  gap: 81px 30px;
  padding-top: 51px;
}

.popular-item {
  width: calc(270px - (40px + 40px));
  padding: 0 40px 24px;
  border-radius: 8px;
  text-align: center;
  background-color: var(--basic-extra-light);
  flex-grow: 1 0;
}

.popular-item-pic {
  display: block;
  margin-top: -51px;
  margin-left: -1px;

}

.popular-item-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: -1px 0 9px;
}



.popular-item-text {
  margin-bottom: 15.5px;
}

.popular-item-price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-item-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--basic-extra-dark);
}

.popular-item-button {
  position: relative;
  display: inline-block;
  padding: 16px;
  border-radius: 26px;
  background-color: var(--special-extra-bright);
  border: none;
  cursor: pointer;
  outline-offset: -2px;
  transition: ease-out 0.125s;
}

.bin {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: var(--basic-extra-light);
}

.popular-item-button:focus {
  outline: 2px solid var(--basic-extra-dark);
}

.popular-item-button:hover {
  outline: 2px solid var(--special-extra-bright);
  background-color: var(--basic-extra-light);
}
.popular-item-button:hover .bin {
  fill: var(--basic-extra-dark);
}

.popular-item-button:active {
  outline: 2px solid var(--special-extra-bright);
  background-color: var(--special-extra-light);
}

.popular-item-button:disabled {
  background-color: var(--basic-neutral);
}
.popular-item-button:disabled .bin {
  fill: var(--basic-extra-dark);
}

/* * store */

.store {
  width: calc(1170px - (24px + 24px));
  margin: 0 auto;
  background: url('../images/waffle-pat.jpg') repeat;
  border-radius: 16px;
  margin-bottom: 80px;
  padding: 24px;
  color: black;
}

.store-container {
  border-radius: 16px;
  background-color: var(--basic-white);
  padding: 56px 40px;
}

.store-title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 56px;
}

.store-benefits {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 32px;
  list-style-type: none;
}

.store-benefits-item {
  position: relative;
  width: 505px;
}

.store-benefits-item-text {
  margin-left: 64px;
}

.store-benefits-item-text::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  outline: 2px solid var(--basic-extra-dark);
  /* outline-style: inset; */
  background-position: top 8px left 8px;
  background-size: 32px;
  background-repeat: no-repeat;
}

.store-benefits-item:nth-of-type(1) .store-benefits-item-text::before {
  background-image: url('../images/icons/benefits-eskimo.svg');
}

.store-benefits-item:nth-of-type(2) .store-benefits-item-text::before {
  background-image: url('../images/icons/benefits-moo.svg');
}

.store-benefits-item:nth-of-type(3) .store-benefits-item-text::before {
  background-image: url('../images/icons/benefits-leaf.svg');
}

.store-benefits-item:nth-of-type(4) .store-benefits-item-text::before {
  background-image: url('../images/icons/benefits-thermo.svg');
}



/* * footer */
.page-footer {
  width: 1170px;
  margin: 0 auto;


  /* * граница блока */
  border-top: 3px dashed rgba(252, 252, 252, 0.3);

}
.page-footer-container {
  display: flex;
  justify-content: space-between;
  margin: 48px 0;
}

.page-footer-socials {
  display: flex;
  list-style-type: none;
  width: 193px;
}

.page-footer-socials-item:not(:last-of-type) {
  margin-right: 16px;
}

.page-footer-socials-link {
  display: block;
  width: 24px;
  height: 24px;
}

.page-footer-info {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.page-footer-info-cell {
  width: 150px;
}

.page-footer-info-link {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-extra-dark);
  text-decoration: none;
}

.page-footer-info-link:hover {
  color: rgba(45, 52, 64, 0.5);
}

.page-footer-info-link:focus {
  outline: none;
  border-bottom: 1.5px solid var(--basic-extra-dark);
}

.page-footer-info-link:focus:hover {
  opacity: 0.5;
  color: rgba(45, 52, 64, 0.5);
  border-color: rgba(45, 52, 64, 0.5);
}

.page-footer-info-link:active {
  color: var(--basic-extra-light);
  background: none;
  text-decoration-color: var(--basic-extra-light);
}

.page-footer-info-link-current {
  font-weight: 700; /* todo приделать сердечко псевдоэлементом */
}

.page-footer-info-cell:last-of-type {
  width: 182px;
}

.page-footer-academy {
  width: 193px;
}

.page-footer-academy-text-link {
  font-family: 'Inter',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--basic-extra-dark);
  text-decoration-color: rgba(45, 52, 64, 0.5);
}

.page-footer-academy-text-link:hover {
  color: rgba(45, 52, 64, 0.5);
}

.page-footer-academy-text-link:focus {
  color: var(--basic-extra-light);
  background-color: var(--basic-extra-dark);
  outline: none;
  border-radius: 1px;
}

.page-footer-academy-text-link:active {
  color: var(--basic-extra-light);
  background: none;
  text-decoration-color: var(--basic-extra-light);
}

.page-footer-academy-text {
  font-family: 'Inter',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--basic-extra-dark);
}
